.custom-navbar {
    height: 60px ;
}
.plane {
    transform: rotate(-45deg);
}
.active {
    color : var(--primary-color);
}
.custom-nav-item {
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;
    color: var(--primary-color);
}
.side-bar {
    min-height: 100vh ;
    transition: .5s ease;
}
.display {
    height: calc(100vh - 60px );
}
.active-dashboard-link {
    border-left: 3px solid var(--primary-color);
    color:  var(--primary-color) ;
}
.dashboard-link {
    cursor: pointer;
    transition: 0.05s ;
}
.dashboard-link:hover {
    border-left: 3px solid var(--primary-color);
    color: var(--primary-color);
}
.hover:hover {
    color: var(--secondary-color);
}