.custom-navbar {
    height: 60px ;
}
.plane {
    transform: rotate(-45deg);
}
.active {
    color : var(--primary-color);
}
.custom-nav-item {
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;
    color: var(--primary-color);
}
.side-bar {
    min-height: 100vh ;
    transition: .5s ease;
}
.display {
    height: calc(100vh - 60px );
}
.active-dashboard-link {
    border-left: 3px solid var(--primary-color);
    color:  var(--primary-color) ;
}
.dashboard-link {
    cursor: pointer;
    transition: 0.05s ;
}
.dashboard-link:hover {
    border-left: 3px solid var(--primary-color);
    color: var(--primary-color);
}
.hover:hover {
    color: var(--secondary-color);
}
.custom-nav-menu {
    display: flex ;
    align-items:  center ;
    justify-content: between;
    flex-direction: row ;
}
.nav-menu-toogler {
    border: none ;
    background-color: transparent;
    display: none;
}
@media (max-width : 800px ) {
    .custom-nav-menu {
        flex-direction: column;
        position: absolute;
        top: -1000px ; 
        left: 0;
        background-color: white;
        width: 100%;
        align-items: center;
        border-radius: 0px 0px 20px 20px ;
        border: 1px solid gray;
    }
    .custom-nav-menu.active {
        top: 60px ; 
    }
    .custom-nav-menu.active > * {
        margin: 20px 0px;
    }
    .nav-menu-toogler {
        display: block ;
    }
}